* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/mountains-universe-1.1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  font-family: 'Roboto', sans-serif;
}

nav ul {
  margin-top: 40px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: 'Roboto', sans-serif;
  color: #c4c4cc;
}
ul a:hover {
  font-weight: bold;
  scale: 1.5;
  color: white;
}
a {
  text-decoration: none;
  color: #c4c4cc;
}
.main {
  margin-top: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: white;
}

.main h1 {
  font-size: 48px;
}

.main button {
  background: none;
  color: white;
  border-radius: 5px;
  border-color: white;
  width: 195px;
  height: 48px;
}

.main button:hover {
  background: white;
  color: #02799d;
}
