nav ul {
  margin-top: 40px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: 'Roboto', sans-serif;
  color: #c4c4cc;
}

ul a:hover {
  font-weight: bold;
  scale: 1.5;
  color: white;
}

a {
  text-decoration: none;
  color: #c4c4cc;
}

.main {
  margin-top: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

.main h1 {
  font-size: 3rem;
  text-align: center;
}

.main button {
  background: none;
  color: white;
  border-radius: 5px;
  border-color: white;
  width: auto;
  padding: 10px;
  height: 48px;
}

.main button:hover {
  background: white;
  color: #02799d;
}

@media only screen and (max-width: 550px) {

  nav ul {
    margin-left: 0px;
    flex-direction: column;
    gap: 32px;
  }

  .main {
    margin-top: 3rem;
  }

  .main h1 {
    font-size: 2.5rem;
    padding: 20px;
  }

}